@import url(./_reset.css);
@import url(./_sys_design.css);

body {
    font-family: "Poppins", sans-serif;
}
.container {
    max-width: 520px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1 {
    font-weight: 700;
    font-size: 72px;
    padding-bottom: 2rem;
}

main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    display: block;
    width: 100%;
    margin: 0 auto;
    color: white;
}

input.invalid {
    outline: 4px solid var(--clr-red);
}

input::placeholder {
    color: gray;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--clr-primary) inset !important;
    box-shadow: 0 0 0 30px inherit inset !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}
